---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Volunteering from '../components/Volunteering.astro';
import Projects from '../components/Projects.astro';
import Certifications from '../components/Certifications.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Marwan Ayman Shawky - Cloud & DevOps Engineer">
  <Header />
  <main>
    <Hero />
    <About />
    <Skills />
    <Experience />
    <Education />
    <Volunteering />
    <Projects />
    <Certifications />
    <Contact />
  </main>
  <Footer />
</Layout>

